.image-thumbnails>img {
    width: 17%;
    cursor: pointer;
    transition: transform 100ms ease-in-out;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.image-thumbnails>img:hover {
    transform: scale(1.08);
}