<form [formGroup]="registerForm" (ngSubmit)="register()">

    <!-- First Name and Last Name -->
    <div class="row mb-3">
        <div class="col">
            <label for="firstname" class="form-label">Ad</label>
            <input type="text" class="form-control" id="firstname" formControlName="firstName">

            <!-- Errors -->
            <div class="form-text text-danger"
                 *ngIf="FirstName.errors?.['required'] && (FirstName.dirty || FirstName.touched)">
                First Name is Required
            </div>
            <div class="form-text text-danger"
                 *ngIf="!!FirstName.errors?.['minlength'] && (FirstName.dirty || FirstName.touched)">
                First Name is too Short. At least 2 characters.
            </div>
            <div class="form-text text-danger"
                 *ngIf="FirstName.errors?.['pattern'] && (FirstName.dirty || FirstName.touched)">
                Name should start with an alphabet.
            </div>
        </div>
        <div class="col">
            <label for="lastname" class="form-label">Soyad</label>
            <input type="text" class="form-control" id="lastname" formControlName="lastName">

            <!-- Errors -->
            <div class="form-text text-danger"
                 *ngIf="LastName.errors?.['required'] && (LastName.dirty || LastName.touched)">
                Last Name is Required
            </div>
            <div class="form-text text-danger"
                 *ngIf="!!LastName.errors?.['minlength'] && (LastName.dirty || LastName.touched)">
                Last Name is too Short. At least 2 characters.
            </div>
            <div class="form-text text-danger"
                 *ngIf="LastName.errors?.['pattern'] && (LastName.dirty || LastName.touched)">
                Name should start with an alphabet.
            </div>
        </div>
    </div>

    <!-- Email -->
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email">

        <!-- Errors -->
        <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.dirty || Email.touched)">
            Email is Required
        </div>
        <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.dirty || Email.touched)">
            Email is Invalid.
        </div>
    </div>

    <!-- Address -->
    <div class="mb-3">
        <label for="address" class="form-label">Adres</label>
        <input type="text" class="form-control" id="address" formControlName="address">

        <!-- Errors -->
        <div class="form-text text-danger" *ngIf="Address.errors?.['required'] && (Address.dirty || Address.touched)">
            Address is Required
        </div>
    </div>

    <!-- Mobile -->
    <div class="mb-3">
        <label for="mobile" class="form-label">Telefon</label>
        <input type="text" class="form-control" id="mobile" formControlName="mobile">

        <!-- Errors -->
        <div class="form-text text-danger" *ngIf="Mobile.errors?.['required'] && (Mobile.dirty || Mobile.touched)">
            Mobile is Required
        </div>
    </div>

    <!-- Password and Repeat Password -->
    <div class="row">
        <div class="col mb-3">
            <label for="pwd" class="form-label">Şifre</label>
            <input type="password" class="form-control" id="pwd" formControlName="pwd">

            <!-- Errors -->
            <div class="form-text text-danger" *ngIf="PWD.errors?.['required'] && (PWD.dirty || PWD.touched)">
                Password is Required
            </div>
            <div class="form-text text-danger"
                 *ngIf="PWD.errors?.['minlength'] || PWD.errors?.['maxlength'] && (PWD.dirty || PWD.touched)">
                Password should be at least 6 and at the max 15 characters long.
            </div>
        </div>
        <div class="col mb-3">
            <label for="rpwd" class="form-label">Şifre Tekrarı</label>
            <input type="password" class="form-control" id="rpwd" formControlName="rpwd">

            <!-- Errors -->
            <div class="form-text text-danger" *ngIf="invaildRPWD">
                Doesn't match with Password!
            </div>
        </div>
    </div>

    <!-- Create Account Button -->
    <div>
        <button type="submit" class="d-block mx-auto btn btn-outline-primary" [disabled]="registerForm.invalid">
            Hesap oluştur
        </button>
    </div>

    <div class="mt-3 text-center">
        <h5 class="text-success">{{message}}</h5>
    </div>
</form>